
<li class="megamenu submenu">
    <a href="javascript:void(0);" class="show-submenu-mega">Servicios</a>
    <div class="menu-wrapper">
      <div class="row">
        <div class="menu-item" style="padding-top: 80px;padding-left: 600px;"> 
          <a>
              <img  src="assets/img/hyundai_logo.png" width="150" height="56" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-md-4">
          <h3  style="padding-top: 60px;padding-left: 50px;">
            VELOSTER HATCHBACK   
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;"> 
            <a>
                <img  src="assets/img/hyundai_hb.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                La discreción no capta las miradas. No se hace viral. Simplemente se ahoga en un mar de igualdad. 
                No conduzcas un automóvil discreto, vive a lo grande: El totalmente nuevo Veloster.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">       
            New ELANTRA SEDAN
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/hyundai_sedan.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                Atrévete a desafiar el statu quo y encuentra un mayor coraje sin temor al fracaso, desafía la tradición y los prejuicios para encontrar oportunidades de innovación. 
                Ponte al frente hoy a través de la pasión y el esfuerzo, construye el mundo del mañana usando tus propios estándares, no el de otros. No dudes, sé valiente y
                 busca esos grandes sueños. Atrévete a ser tú.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">
            New TUCSON
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/hyundai_suv.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                El nuevo TUCSON marca el comienzo de un nuevo día y una nueva forma de conducir. Rechazando lo ordinario, 
                el nuevo TUCSON empuja los límites del segmento para reinventar casi todo. En el exterior, el TUCSON está diseñado para impresionar,
                 mientras que en el interior, 
                descubrirás un nivel de amplitud, comodidad y versatilidad que supera todas las expectativas.
            </p>
          </div>
        </div>
      </div>
    </div>