<section class="h-100 gradient-form" style="background-color: rgb(255, 254, 254);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
               <br><br><br><br>
               <form [formGroup]="loginForm" method="post" autocomplete="off">
                <div formGroupName="persona">
                  <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" placeholder="Ingrese email">
                </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control" placeholder="Ingrese password">
                    </div>
                </div>
                <!--<button routerLink="retrieve" type="button" class="btn btn-link">¿Te olvidaste tu usuario o clave?</button>-->
                <a class="btn btn-link" role="button" href="retrieve">¿Te olvidaste tu usuario o clave?</a>
                <a class="btn btn-link" role="button" href="usernew">Nuevo Usuario</a>
                <br>
                <div class="form-group">
                  <button (click)="Submit()"  class="btn btn-primary">Iniciar</button> 
               </div>
             </form>
                </div>
              </div>
              <div class="text-center">
                <br><br><br><br><br><br>
                <img src="assets\img\molcar_1.png"
                  style="width: 325px;" alt="logo">
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>