
<div class="login-dark" style="background-image: url(&quot;assets/img/nissan_sedan.jpg&quot;); padding: 95px;">
       
    <div class="container" style="padding-top: 120px;">
        <div class="rowfa-pull-right" >
            <div class="col-6">
                <div class="col-lg-6">
                <form  method="post" style="background-color: rgba(30, 40, 51, 0.425); padding: 50px;">
                    <h2 class="sr-only">Login Form</h2>
                    <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: rgba(255,165,85,0.75);"></i></div>
                    <div class="form-group">
                        <input class="form-control" type="email" formControlName="uid" placeholder="User" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" formControlName="pwd" placeholder="Password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" style="background-color: rgba(255,165,85,0.75);font-weight: normal;">Ingresar</button>
                    </div>
                    <div class="form-group"> 
                        <a class="btn btn-link" role="button" href="retrieve">¿Te olvidaste tu usuario o clave?</a>
                        <a class="btn btn-link" role="button" href="usernew">Nuevo Usuario</a>
                    </div>
                </form>
            </div> 
           <div class="col-lg-6">
        
       </div>    
        </div>
    </div>
