<!-- Header================================================== -->
<div id="header_2">
  <header>

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div id="logo_home">
            <h1><a routerLink="inicio" title="Prima Motors"></a></h1>
          </div>
        </div>
        <nav class="col-md-9 col-sm-9 col-xs-9">
          <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
          <div class="main-menu">
            <div id="header_menu">
              <img src="assets/img/logo_menu.png" width="145" height="34" alt="PrimaMotors">
            </div>
            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
            <ul>
              <li>
                <a routerLink="inicio">Inicio</a>
              </li>
              <li>
                <a routerLink="nosotros">Nosotros</a>
              </li>
               <li>
                <a  routerLink="marcas">Marcas</a>
               </li>  
              <li class="megamenu submenu">
                <a href="javascript:void(0);" class="show-submenu-mega">Servicios</a>
                <div class="menu-wrapper">
                  <div class="row">
                    <div class="col-md-4">
                      <h3>Vehículos Nuevos (0Km)</h3>
                      <div class="menu-item">
                        <a href="servicios/nuevo"><img src="assets/img/servicios_nuevo.jpg" width="400" height="226" alt="" class="img-responsive">
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h3>Vehículos de Segunda Mano</h3>
                      <div class="menu-item">
                        <a href="servicios/usado"><img src="assets/img/servicios_usado.jpg" width="400" height="226" alt="" class="img-responsive">
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <h3>Taller de Mantenimiento</h3>
                      <div class="menu-item">
                        <a href="servicios/taller"><img src="assets/img/servicios_taller.jpg" width="400" height="226" alt="" class="img-responsive">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End menu-wrapper -->
              </li>
              <li>
                <a routerLink="contacto">Contacto</a>
              </li>
              <li>
                <a routerLink="Login">Login</a>
              </li>
            </ul>
          </div>
          <!-- End main-menu -->
        </nav>
      </div>
    </div>
    <!-- container -->
  </header>
  <!-- End Header -->
</div>
<!-- End Header 1-->

<section>
  <router-outlet></router-outlet>
</section>

