
<li class="megamenu submenu">
    <a href="javascript:void(0);" class="show-submenu-mega">Servicios</a>
    <div class="menu-wrapper">
      <div class="row">
        <div class="col-md-4">
          <h3  style="padding-top: 60px;padding-left: 50px;">
            ALL NEW IMPREZA SPORT   
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;"> 
            <a>
                <img  src="assets/img/subaru_hb.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                El All New Impreza Sport lo tiene todo: es más potente, suave, liviano y de mayor rendimiento. Además, 
                gracias a su motor Subaru BOXER® (una tecnología exclusiva de Subaru), con inyección directa de 154 caballos de fuerza 
                y un diseño con pistones horizontales que contrapesan la vibración, tiene un centro de gravedad más bajo que le da mayor estabilidad a la carrocería.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">       
            ALL NEW IMPREZA SEDAN
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/subaru_sedan.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                Si buscas un look profesional y urbano para usar en ciudad, 
                pero con la seguridad de que responderá incluso en terrenos irregulares, 
                el All New Subaru Impreza Sedán es tu opción ideal.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">
            NEW FORESTER E-BOXER
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/subaru_suv.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                Sabemos que quienes han preferido conducir una Forester, buscan el diseño y 
                versatilidad de una SUV que sea capaz de desplazarse con seguridad, tanto en ciudad como 
                en todo tipo de camino. El nuevo motor e-Boxer de Subaru mejora su capacidad de desplazamiento
                 para un viaje más placentero.
            </p>
          </div>
        </div>
      </div>
    </div>