
<li class="megamenu submenu">
    <a href="javascript:void(0);" class="show-submenu-mega">Servicios</a>
    <div class="menu-wrapper">
      <div class="row">
        <div class="menu-item" style="padding-top: 80px;padding-left: 550px;"> 
          <a>
              <img  src="assets/img/toyota_logo.png" width="300" height="150" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-md-4">
          <h3  style="padding-top: 60px;padding-left: 50px;">
            YARIS HATCHBACK   
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;"> 
            <a>
                <img  src="assets/img/toyota_hb.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                EL NUEVO YARIS HATCHBACK ESTÁ EQUIPADO CON UN MOTOR DUAL VVT-I DE 1.3 L,
                 QUE TE DARÁ EL BALANCE PERFECTO ENTRE PERFORMANCE Y CONFORT. ¿LISTO PARA CREAR TU MOMENTO?
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">       
            YARIS SEDAN
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/toyota_sedan.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                EQUIPADO CON UN MOTOR DUAL VVT-I DE 1.3L, EL RENOVADO TOYOTA YARIS ES EL BALANCE 
                PERFECTO ENTRE RENDIMIENTO, DEPORTIVIDAD Y CONFORT. ¿ESTÁS LISTO PARA DESCUBRIRLO POR TI MISMO?
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">
            RAV4
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/toyota_suv.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                MANEJANDO NUESTROS VEHÍCULOS HÍBRIDOS DESCUBRIRÁS  EL VERDADERO SIGNIFICADO DE LA NUEVA 
                TECNOLOGÍA AUTO-RECARGABLE ,UN MÁXIMO RENDIMIENTO  Y 
                MENOR CONSUMO, GRACIAS A LA ÓPTIMA COMBINACIÓN DE SU MOTOR ELÉCTRICO Y A COMBUSTIÓN
            </p>
          </div>
        </div>
      </div>
    </div>