<li class="megamenu submenu">
    <a href="javascript:void(0);" class="show-submenu-mega">Servicios</a>
    <div class="menu-wrapper">
      <div class="row">
        <div class="menu-item" style="padding-top: 80px;padding-left: 600px;"> 
          <a>
              <img  src="assets/img/bmw_logo.png" width="150" height="56" alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-md-4">
          
          <h3  style="padding-top: 60px;padding-left: 50px;">
               BMW Serie 1 
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;"> 
            <a  >
                <img  src="assets/img/bmw_hb.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                Desata suspiros: el BMW Serie 1 totalmente nuevo llegó para robar miradas. 
                Esto se debe a su diseño inigualable y su lenguaje progresista que lo distinguen a primera vista entre la multitud. Lo mismo sucede con su interior,
                 cuyo ambiente moderno inspira con su amplio espacio y sus componentes de calidad superior.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">       
                BMW Serie 7 
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a >
                <img src="assets/img/bmw_sedan.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                El BMW Serie 7 convence ya a primera vista con su presencia extraordinaria. Su carácter 
                decidido se ve realzado por el llamativo frontal.
                 En el lateral, el sistema Air Breather vertical enfatiza la altura del vehículo. 
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">
            Mercedes GLE Coupé
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a><img src="assets/img/bmw_suv.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                El nuevo BMW X6 es sinónimo de autodeterminación provocativa. 
                Esto es visible en la carrocería atlética del vehículo junto con el nuevo 
                y distintivo lenguaje de diseño, 
            </p>
          </div>
        </div>
      </div>
    </div>