<!-- SubHeader =============================================== -->
<section class="parallax_window_in">
    <div id="sub_content_in" style="background-image: url('/assets/img/back_usado.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div id="animate_intro">
            <h1>Compra/Venta de Segunda Mano</h1>
            <p>Autos de un solo dueño y en óptimas condiciones</p>
        </div>
    </div>
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<section class="wrapper">
    <div class="divider_border"></div>

    <div class="container">
        <div class="main_title_2">
            <h3>¿Por qué encargárnoslo?</h3>
            <p>Te facilitamos el trabajo de contacto e investigación respecto al auto y la persona con quien se haga el traspaso.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Trámites Rápidos</h4>
                    <p>Nos encargamos de que los vehículos que ingresan al inventario tengan todos los documentos en regla para acelerar cualquier transacción o trámite requerido al momento del traspaso. De esta manera también, no hará falta una ardua investigación, porque ya lo hicimos nosotros.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Facilidad de Pago</h4>
                    <p>En Prima Motors estamos comprometidos con que tu experiencia sea la más placentera al adquirir un vehículo de segunda mano, así como también elaboramos propuestas y planes de pago que el vendedor esté dispuesto negociar dentro de los límites idóneos.</p>
                </div>
            </div>
        </div>
        <!-- End row -->
        
        <div class="row">
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Modelos Novedosos</h4>
                    <p>No solamente limitamos los vehículos ingresantes a las marcas con las que trabajamos, sino también algunos de los atributos que garantizan que el vehículo sea moderno y también se encuentre en óptimas condiciones.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Asistencia Personalizada en tu Compra/Venta</h4>
                    <p>El elegir un vehículo siempre va a depender de las especificaciones técnicas y la apariencia que tenga, pero también de los pro y contras respecto a comparativas entre modelos. Es por ello que así seas comprador o vendedor, te pondremos en contacto con un asesor que te guíe para indicarte qué estaría faltando para ser parte del programa de compra/venta y puedas realizar un traspaso de vehículo.</p>
                </div>
            </div>
        </div>
        <!-- End row -->

    </div>
    <!-- End container -->
</section>
<!-- End section -->
