
<li class="megamenu submenu">
    <a href="javascript:void(0);" class="show-submenu-mega">Servicios</a>
    <div class="menu-wrapper">
      <div class="row">
        <div class="menu-item" style="padding-top: 80px;padding-left: 600px;"> 
            <a>
                <img  src="assets/img/nissan_logo.png" width="150" height="56" alt="" class="img-responsive">
            </a>
          </div>
        <div class="col-md-4">
            
          <h3  style="padding-top: 60px;padding-left: 50px;">
            NUEVO NISSAN MARCH   
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;"> 
            <a>
                <img  src="assets/img/nissan_hb.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                El Nuevo Nissan MARCH es seguridad, rendimiento que superará tus expectativas y demostrará que 
                es un auto equipado para descubrir nuevas emociones.
                El Nuevo Nissan MARCH tiene tecnologías que ayudan a prevenir percances y cuidarte a ti 
                y a las personas que te acompañan en tus aventuras.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">       
            NISSAN SENTRA
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/nissan_sedan.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                Esculpido y minuciosamente elaborado con especial atención a cada detalle. Cada esquina y 
                curva se unen para crear un vehículo único.
                Todo comienza contigo: tus gustos, tus intereses, tu vida. Es por eso que la conectividad,
                 a bordo de Nissan Sentra, es tan sencilla.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">
            NUEVO NISSAN KICKS
          </h3>
          <div class="menu-item" style="padding-top: 20px;padding-left: 50px;">
            <a ><img src="assets/img/nissan_suv.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                La personalidad inconfundible del Nuevo Kicks  genera una atracción inmediata por sus líneas
                atrevidas, deportivas y sofisticadas. Toda una declaración de principios.
                e damos la bienvenida al manejo inteligente. Tu Nuevo Kicks viene equipado con 
                los más elevados estándares de Seguridad.El Safety Shield 360° es un conjunto de tecnologías 
                que potencian al máximo tus capacidades mediante sistemas semi autónomos de asistencia al conductor.
            </p>
          </div>
        </div>
      </div>
    </div>