<!-- SubHeader =============================================== -->
<section class="parallax_window_in">
    <div id="sub_content_in" style="background-image: url('/assets/img/back_taller.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div id="animate_intro">
            <h1>Taller de Mantenimiento</h1>
            <p>El soporte que tu auto merece y necesita</p>
        </div>
    </div>
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<section class="wrapper">
    <div class="divider_border"></div>

    <div class="container">
        <div class="main_title_2">
            <h3>¿Por qué dejarnos tu vehículo?</h3>
            <p>Nosotros somos 100% especialistas en las marcas con las que trabajamos.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Personal Capacitado</h4>
                    <p>Tu vehículo quedará a cargo de un equipo con una amplia experiencia en el mantenimiento de vehículos.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Supervisión Confiable</h4>
                    <p>Contamos con la supervisión de ingenieros automotrices certificados que encabezarán los trabajos realizados y garantizarán el trato adecuado de tu vehículo.</p>
                </div>
            </div>
        </div>
        <!-- End row -->
        
        <div class="row">
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Autopartes Novedosas</h4>
                    <p>Nos mantenemos a la vanguardia con las mejores y más recientes versiones de autopartes para que tu vehículo pueda rendir siempre al máximo como si fuera nuevo.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Precios Competitivos</h4>
                    <p>A pesar de nuestro servicio de calidad, mantenemos nuestros precios dentro del margen del mercado. Esto te abrirá siempre las posibilidades a elegir lo mejor de lo mejor.</p>
                </div>
            </div>
        </div>
        <!-- End row -->

    </div>
    <!-- End container -->
</section>
<!-- End section -->
