<!-- SubHeader =============================================== -->
<section class="parallax_window_in">
    <div id="sub_content_in" style="background-image: url('/assets/img/back_taller.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div id="animate_intro">
            <h1>Taller de Mantenimiento</h1>
            <p>El soporte que tu auto merece y necesita</p>
        </div>
    </div>
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<section class="wrapper">
    <div class="divider_border"></div>

    <div class="container">

        <div class="main_title">
            <h2>"¿Por qué dejarnos tu <span>vehículo</span>?"</h2>
            <p>En Prima Motors sabemos la importancia que le das a tu auto, así que le damos el mejor trato.</p>
        </div>

        <div id="bg_profile">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Personal Capacitado con Supervisión Confiable<i class="indicator icon_minus_alt2 pull-right"></i></a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Tu vehículo quedará a cargo de un equipo con amplia experiencia en el campo y bajo la supervisión de ingenieros automotrices certificados por distintas marcas que encabezarán los trabajos realizados y garantizarán el trato adecuado de tu auto.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Autopartes Novedosas<i class="indicator icon_plus_alt2 pull-right"></i></a>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nos mantenemos a la vanguardia con las mejores y más recientes versiones de autopartes para que tu vehículo pueda rendir siempre al máximo como si fuera nuevo.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Precios Competitivos<i class="indicator icon_plus_alt2 pull-right"></i></a>
                              </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    A pesar de nuestro servicio de calidad, mantenemos nuestros precios dentro del margen del mercado. Esto te abrirá siempre las posibilidades a elegir lo mejor de lo mejor.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col -->
            </div>
            <!-- End row -->

            <hr>

            <div class="row text-center">
                <div class="col-md-6">
                    <div class="box_style_3">
                        <i class="icon_set_1_icon-17"></i>
                        <h3>Solicitud de Mantenimiento</h3>
                        <p>Si quieres que revisemos tu vehículo y te demos un diagnóstico para que quede como nuevo, haz click aquí.</p>
                        <a href="#" class="btn_1">Crear Solicitud</a>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-md-6">
                    <div class="box_style_3">
                        <i class="icon_set_1_icon-90"></i>
                        <h3>Dudas y Consultas</h3>
                        <p>Si no estás seguro de pasar por nuestro equipo de mantenimiento o tienes dudas sobre el servicio, contáctanos.</p>
                        <a href="contacto" class="btn_1">Contacto</a>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- End bg_profile -->
    </div>
    <!-- End container -->
</section>
<!-- End section -->