<section>
    <div class="container">
    <div class="row mb-2 mt-4">
        <br><br>
        <br><br>
    <div class="col-lg-12">
        <h1 class="text-black font-weight-bold text-center mb-3 s30"></h1>
    </div>
    <div class="col-lg-12">
    <h3 class="mb-0 text-other-gray-light s14">

    En Prima Motors trabajamos con las marcas mas reconocidas del mercado automotriz.
    <br><br>

    </h3>
    <p class="mt-4 " style="border-bottom:1px solid #d2caca;"></p>
    </div>
    <hr class="m-0">
    </div>
    <div class="row">
    
    <div class="col-lg-3 mt-6" class="menu-item" style="padding-top: 100px;padding-left: 60px ; padding-bottom: 100px;
        display: flex;justify-content: left ;">
    
        <a>
            <img  src="assets/img/bmw_logo.png" width="180" height="100" alt="" class="img-responsive" style="float:left; " >
        </a>

        <div class="col-lg-5 mt-3" class="menu-item" style="padding-right: 0px  ; padding-bottom: 100px ; padding-inline-start: 50px; ;
        display: flex;justify-content: left; ;height: 100px;">
    
        <a>
            <img  src="assets/img/nissan_logo.png" width="180" height="100" alt="" class="img-responsive " style="float:center ;"> 
           
        </a>

        <div style ="padding-inline-start: 50px; ">
             
            <a>
                <img  src="assets/img/subaru_logo.png" width="300" height="100" alt="" class="img-responsive" style="float:left; "
                style = "margin-top: -40px;"     >
            </a>
        </div>

        <div  style ="padding-inline-start: 110px; "  style = "margin-top: -40px;">
    
            <a>
                <img  src="assets/img/hyundai_logo.png" width="300" height="100" alt="" class="img-responsive " style="float:center ;"> 
               
            </a>
        </div>  

        <div style = "margin-top: -70px;" >
    
            <a>
                <img  src="assets/img/toyota_logo.png" width="400" height="100" alt="" class="img-responsive"  style="float:right;" 
                        
                >
            </a>
        </div>

        <div style ="padding-inline-start: 50px;  " style = "margin-top: -55px;" >
 
             <a>
                 <img  src="assets/img/mercedes_logo.png" width="350" height="100" alt="" class="img-responsive"  style="float:left;" >
             </a>
         
        </div>
        </div>
    </div>    

    </div>

    </div>
    
    </section>




