<div class="container-banner-header" style="padding: 120px;">
    <div class="container-banner-header">
    <img src="assets\img\contacto.jpg" style="width: 105%;" alt="logo">
    <div class="texto-encima">
        <h3 class="s10 mb-0 text-center font-weight-bold text-other-gray-light mt-2" style="-webkit-text-stroke: 1px rgba(235, 230, 230, 0.973);">Contáctanos</h3>
    </div>
       <div class="container">
        <p  style="-webkit-text-stroke: 1px rgba(207, 205, 205, 0.973); padding-center: 50px;">
             Gracias por tu interés, para comunicarte con nosotros puedes ubicarnos en Av. Santo Toribio 173 Int Pi 14, Torre 8, Of. 401- 402, Lima, Lima 
        o llamarnos al 998741245 - 963265896</p>
    </div>
    </div>
     <br>
    <div class="row">
    <div class="col-6">
        <div class="col-lg-6">
            <form [formGroup]="ContactoForm" method="post" autocomplete="off">
                <div formGroupName="persona">
                    <div class="form-group">
                        <input type="text" formControlName="nombre" class="form-control" placeholder="Ingrese nombres">
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="apellido" class="form-control" placeholder="Ingrese apellidos">
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" placeholder="Ingrese email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" formControlName="mensaje" placeholder="Ingrese mensaje" rows="4"></textarea>
                </div>
                <div class="form-group">
                   <button  (click)="__onSubmit()"  class="btn btn-primary">Enviar</button> 
                </div>
              
            </form>
        </div>
    </div>
    <div class="col-lg-6">
        <img src="assets\img\nuevo_1.png" style="width: 525px;" alt="logo">
    </div>
    <div class="col-8">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.1182607034298!2d-76.96738667538202!3d-12.104055718831216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas!5e0!3m2!1ses-419!2spe!4v1653961633016!5m2!1ses-419!2spe" width="700" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </div>
</div>