<!-- SubHeader =============================================== -->
<section class="parallax_window_in">
    <div id="sub_content_in" style="background-image: url('/assets/img/back_nuevo.jpg'); background-size: cover; background-repeat: no-repeat;">
        <div id="animate_intro">
            <h1>Compra de Vehículos Nuevos</h1>
            <p>Autos de estreno - 0Km.</p>
        </div>
    </div>
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<section class="wrapper">
    <div class="divider_border"></div>

    <div class="container">
        <div class="main_title_2">
            <h3>¿Por qué nosotros?</h3>
            <p>Te damos suficientes motivos para que nos permitas acompañarte en esta gran decisión.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Trámites Rápidos</h4>
                    <p>Somos especialistas en la gestión y distribución de vehículos automóviles nuevos, con amplia experiencia y contactos que nos permiten agilizar los trámites y que tengas tu auto en casa lo más pronto posible.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Facilidad de Pago</h4>
                    <p>En Prima Motors estamos comprometidos con que tu experiencia sea la más placentera, no solo al manejar tu vehículo, sino también en el cumplimiento de tus obligaciones y por ello tenemos distintas promociones de descuento y planes de pago para todo tipo de necesidad.</p>
                </div>
            </div>
        </div>
        <!-- End row -->
        
        <div class="row">
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Modelos Novedosos</h4>
                    <p>Sabemos que la mayor satisfacción al tomar una decisión, es que no te arrepientas al poco tiempo. Por ello estamos siempre a la vanguardia de las novedades y modelos próximos a estrenarse, para que puedas siempre adquirir lo más moderno y estés enterado de lo que está por llegar.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box_features">
                    <h4>Asistencia Personalizada en tu Compra</h4>
                    <p>El elegir un vehículo siempre va a depender de las especificaciones técnicas y la apariencia que tenga, pero también de los pro y contras respecto a comparativas entre modelos. Es por ello que una vez hayas escogido el posible modelo de tus sueños, te pondremos en contacto con un asesor personalizado para que te guíe en tu compra y te haga sugerencias de acuerdo a tu necesidad.</p>
                </div>
            </div>
        </div>
        <!-- End row -->

    </div>
    <!-- End container -->
</section>
<!-- End section -->
