

<li class="megamenu submenu">
    <a href="javascript:void(0);" class="show-submenu-mega">Servicios</a>
    <div class="menu-wrapper">
      <div class="row">
        <div class="menu-item" style="padding-top: 80px;padding-left: 550px;"> 
          <a>
              <img  src="assets/img/mercedes_logo.png" width="200" height="100  " alt="" class="img-responsive">
          </a>
        </div>
        <div class="col-md-4">
          <h3  style="padding-top: 60px;padding-left: 50px;">
               Mercedes Clase A 
          </h3>
          <div class="menu-item" style="padding-top: 120px;padding-left: 50px;"> 
             <a >
                <img  src="assets/img/mercedes_hb.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                Todas las líneas de la Clase A apuntan en una misma dirección: 
                superficies más puristas y detalles más llamativos. ¿Percibes el atractivo?
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">       
                Mercedes Clase C
          </h3>
          <div class="menu-item" style="padding-top: 120px;padding-left: 50px;">
            <a >
                <img src="assets/img/mercedes_sedan.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                La Clase C es una manifestación de ímpetu a primera vista. Su frontal renovado destila dinamismo y modernidad. Los parachoques presentan una nueva configuración.
                 En función del equipamiento destaca la línea exclusiva AVANTGARDE que permite subrayar la individualidad y deportividad del nuevo Clase C, 
                 muestra una combinación de elementos de diseño que resulta en un vehículo extraordinariamente expresivo.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h3 style="padding-top: 60px;padding-left: 50px;">
            Mercedes GLE Coupé
          </h3>
          <div class="menu-item" style="padding-top: 120px;padding-left: 50px;">
            <a >
                <img src="assets/img/mercedes_suv.jpg" width="400" height="226" alt="" class="img-responsive">
            </a>
            <p>
                Una SUV potente y con musculosos hombros que le da a la GLE Coupé ese distintivo y 
                característico sello deportivo. Asimismo, el expresivo estilo de la línea AMG agudiza 
                el carácter profundo y dinámico del vehículo, convirtiendo el diseño exterior en algo impresionante.
            </p>
          </div>
        </div>
      </div>
    </div>