

<div class="login-dark" style="background-image: url(&quot;assets/img/hyundai_suv.jpg&quot;); padding: 85px;">
       
    <div class="container" style="padding-top: 120px;">
        <div class="rowfa-pull-right" >
            <div class="col-6">
                <div class="col-lg-6">
                <form  method="post" style="background-color: rgba(30, 40, 51, 0.425); padding: 50px;">
                    <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;">Registrar<br>Usuario</h2>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="loginusuario" placeholder="Login" autocomplete="off" style="color: rgb(0,0,0);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" formControlName="passwordusuario" placeholder="Password" autocomplete="off" style="color: rgb(0,0,0);">
                    </div>
                    <div class="form-group">
                        <select formControlName="idperfil" class="form-control form-control-sm" style="color: rgb(0,0,0);">
                            <option value="" selected="">Tipo de Usuario</option>
                            <option value="1">Administrador</option>
                            <option value="2">Asesor</option>
                            <option value="3">Gerente</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="nombres" placeholder="Nombres" autocomplete="off" style="color: rgb(0,0,0);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="apellidopaterno" placeholder="Apellido Paterno" autocomplete="off" style="color: rgb(0,0,0);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="apellidomaterno" placeholder="Apellido Materno" autocomplete="off" style="color: rgb(0,0,0);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" formControlName="documentoidentidad" placeholder="DNI" autocomplete="off" style="color: rgb(0,0,0);">
                    </div>
                    <div class="form-group text-center">
                        <button  class="btn btn-primary" type="submit" style="background-color: #ffa555;font-weight: normal;">Registrar</button>
                    </div>
                </form>
            </div> 
           <div class="col-lg-6">
        
       </div>    
        </div>
    </div>
