<section class="h-100 gradient-form" style="background-color: rgb(255, 254, 254);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <br><br><br><br><br>
<div class="login-dark" style="background-image: url(&quot;assets/img/backgrounds/form-bg.jpg&quot;);">
  <form  method="post" style="background-color: rgba(255,255,255,0.9);">
      <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;">Registrar Usuario</h2>
        <div class="form-group">
          <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre" autocomplete="off" style="color: rgb(0,0,0);">
      </div>
      <div class="form-group">
        <input type="text" formControlName="apellido Paterno" class="form-control" placeholder="Ingrese apellido Paterno">
    </div>
    <div class="form-group">
      <input type="text" formControlName="apellido Materno" class="form-control" placeholder="Ingrese apellido Materno">
  </div>
    <div class="form-group">
      <input type="text" formControlName="telefono" class="form-control" placeholder="Ingrese telefono">
  </div>
  <div class="form-group">
    <input type="email" formControlName="email" class="form-control" placeholder="Ingrese email">
</div>
  <div class="form-group">
    <input type="text" formControlName="clave" class="form-control" placeholder="Ingrese clave">
</div>

  <div class="form-group">
    <select formControlName="departamento" class="form-control" placeholder="departamento" style="color: rgb(0,0,0);">
        <option value="" selected="">Lima</option>
        <option value="1">Arequipa</option>
        <option value="2">San Martin</option>
        <option value="3">Junin</option>
        <option value="4">Amazonas</option>
        <option value="5">Apurimac</option>
      </select>
</div>
<div class="form-group">
    <select formControlName="distrito" class="form-control form-control-sm" placeholder="Distrito" style="color: rgb(0,0,0);">
        <option value="" selected="">Surco</option>
        <option value="1">Lima</option>
        <option value="2">Chorrillos</option>
        <option value="3">Miraflores</option>
        <option value="4">San Isidro</option>
        <option value="5">La molina</option>
        <option value="6">Magdalena</option>
        <option value="7">Lapunta</option>
    </select>
</div>
    <div class="form-group text-center">
          <button  class="btn btn-primary" type="submit" style="background-color: #ffa555;font-weight: normal;">Registrar</button>
      </div>
  </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
